.cartaListContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 0.25rem;
}

@media (min-width: 768px) {
    .cartaListContainer {
        flex-direction: row;
        flex-wrap: wrap;
    }
}