.cartaListContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.25rem;
}

@media (min-width: 768px) {
    .cartaListContainer {
        flex-direction: row;
    }
}