.servicesContainer {
  margin-top: 2rem;
  padding: 0 1rem;
  width: 100%;
}

.servicesTitle {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  line-height: 1.3;
  font-weight: 700;
  text-align: left;
  color: #111;
}

@media (min-width: 768px) {
  .servicesTitle {
    font-size: 1.75rem;
    line-height: 1.4;
  }
}
