.container {
    margin-top: 4px;
    margin-bottom: 4px;
}

.col-demo img {
    width: 100%;
    height: auto;
    max-height: 420px;
    object-fit: cover;
    border-radius: 8px;
}

.getInTouchButton {
    background-color: var(--ifm-color-primary);
    color: white;
}

@media (max-width: 767px) {
    .col-demo img {
        max-height: 300px;
    }
}