.rootContainer {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

@media(max-width: 768px) {
    .rootContainer {
        width: 100%;
    }
}

.titleContainer {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    max-width: 768px;



    @media (min-width: 1024px) {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}

.title {
    margin-bottom: 1rem;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 800;
    letter-spacing: -0.025em;
    text-align: center;
}

.subTitle {
    margin-bottom: 2rem;
    font-weight: 300;
    text-align: center;

    @media (min-width: 640px) {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }

    @media (min-width: 1024px) {
        margin-bottom: 4rem;
    }
}

.form {
    margin-top: 2rem;
}

.formLabel {
    display: block;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;


}

.emailInput {
    display: block;
    padding: 0.625rem;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
    border-width: 1px;

    width: 100%;
    font-size: 0.875rem;
    line-height: 1.25rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);

}

.subjectInput {
    display: block;
    padding: 0.75rem;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
    border-width: 1px;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.25rem;

    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.messageInput {
    display: block;
    padding: 0.625rem;
    border-radius: 0.5rem;
    border-width: 1px;

    width: 100%;
    font-size: 0.875rem;
    line-height: 1.25rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    margin-top: 0.5rem;
}

.submitButton {

    display: block;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin: 1rem auto 0 auto;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--ifm-button-primary-color);
    background-color: var(--ifm-color-primary);

}